.lecture {
	position: relative;
	padding: 1px 0 1px 20px;
	margin: 0 -5px 4px -5px;
	cursor: pointer;
}

.lecture-icon {
	position: absolute;
	left: 5px;
	top: 1px;
	color: #B8DAA0;
}

.lecture-active-mode {
	background: #d9d9d9;
}

.lecture-active-mode .lecture-icon {
	color: #54ae1d;
}

.lecture-edit-mode {
	background: #eab3bb;
}

.lecture-edit-mode .lecture-icon {
	color: #c52638;
}

.lecture-edit-mode-input {
	width: 90%;
	border: 1px solid #000;
}

.lecture-editor {
	display: none;
	position: absolute;
	background: #eeeeee;
	background: rgba(238,238,238,0.95);
	top: 50px;
	left: 100px;
	padding: 20px;
	border: 1px solid #bebebe;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.35);
	font-size: 0.95em;
}

.lecture-editor-active {
	display: block;
}