@import url('/css/lecture.css');
@import url('/css/calendar.css');

body {
	font-size: 16px;
}

.measurer {
	position: absolute;
	display: block;
	visibility: hidden;
}

#cal {
	width: 80%;
	margin: 0 auto;
}